.collage{
    position: absolute;
}
body{
    background-color: violet;
}
p{
    color: green;
}
h1{
    color:blue
}
h2{
    color:brown
}
h3{
    color:orangered
}
h4{
    color: teal
}
footer{
    color: mediumseagreen
}
aside{
    color:red
}
title{
    color: yellowgreen;
}
.cropContainer{
     position:relative;
     overflow: hidden;
}
