.collage{
    position: absolute;
}
body{
    background-color: violet;
}
p{
    color: green;
}
h1{
    color:blue
}
h2{
    color:brown
}
h3{
    color:orangered
}
h4{
    color: teal
}
footer{
    color: mediumseagreen
}
aside{
    color:red
}
title{
    color: yellowgreen;
}
.cropContainer{
     position:relative;
     overflow: hidden;
}
.container{
    position: relative;
    width: 100vw;
    height: 20vh;
    background-color: rgb(195, 211, 198);
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0%);
    margin: 0;
}
.display-exp{
  display:flex;
  gap: 20px;
}
.display-exp div{
    flex: 1;
    padding: 20px;
    color: rgb(241, 188, 11);
    margin: 20px;
}
.flex-container{
    display: flex;
    width: 100vw;
    background-color: blueviolet;
    height: 500px;
    justify-content: center;
    align-items: center;
}
h3{
  font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
  animation-name:changeBGColor;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
p{
      font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
      font-family: "Rubik Storm", system-ui;
  font-weight: 400;
  font-style: normal;
}
@keyframes changeBGColor{/* the animation's name */
  from {background-color: rgb(0, 255, 191);} /* stating state, needs to have a specific property expression*/
  to {background-color: yellow;} /* ending state, could have multiple ones through percentage*/
}
@keyframes changeColor{
    from {color: burlywood;}
    to {color: blue;}
}
p{
    animation-name: changeColor;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
.hoverElement:hover{/*add class="hoverElement" to whatever tag you want to hover */
  color:green;
}
p:hover, h1:hover, a:hover {
  background-color: rebeccapurple;
}
h1:hover, a:hover {
    color: red;
}